<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="GoogleChrome" />
	<package id="Firefox" />
	<package id="avastfreeantivirus" />
	<package id="VirtualCloneDrive" />
	<package id="githubforwindows" />
	<package id="putty" />
	<package id="winscp" />
	<package id="notepadplusplus" />
	<package id="evernote" />
	<package id="vlc" />
	<package id="iTunes" />
	<package id="skype" />
	<package id="7zip" />
	<package id="uTorrent" />
	<package id="steam" />
	<package id="dropbox" />
	<package id="adobereader" />
	<package id="Revo.Uninstaller" />
	<package id="unetbootin" />
	<package id="python" />
	<package id="pip" />
	<package id="treesizefree" />
</packages>
